<!-- include header -->
<%- include("include/_header") %>
<!-- /include header -->

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <!-- create button to go back to home route -->
        <a href="/">
          <i class="fas fa-angle-double-left"></i>
          Back to Unfiltered List
        </a>
      </div>
    </div>

    <div class="form-title text-center">
      <span class="text-light">
        The Table is Currently Displaying Jobs with In Progress Status
      </span>
    </div>

    <br />
    <br />

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Job Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- include filter inProgress  page -->
        <%- include("include/_filterInProgress") %>
        <!-- /include filter inProgress  page -->
      </tbody>
    </table>
  </div>
</main>

<!-- include footer -->
<%- include("include/_footer") %>
<!-- /include footer -->
