<!-- include header -->
<%- include("include/_header") %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <!-- create button to go back to home route -->
        <a href="/">
          <i class="fas fa-angle-double-left"></i>
          All Jobs
        </a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update Status</h2>
      <span class="text-light"
        >Use The Below Form To Update The Status Of Any of the Job Entries</span
      >
    </div>

    <!-- include show update status page -->
    <%- include("include/_showUpdateStatus") %>
    <!-- /include show update status page -->
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include("include/_footer") %>
<!-- /include footer -->
